################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JACUniversity/.vs/JACUniversity/v16/Server/sqlite3/db.lock
